@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
@layer components {
  /* CUSTOM WRAPPERS FOR EXTRACTED CLASSES */
  .player-wrapper {
    width: relative;
    position:relative;
    padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
  }
  
  .react-player {
    position: absolute;
    top:0;
    left:0;
      }
      .react-player iframe {
        height: 100% !important;
      }
  
  .custom_title {
    /*  fix size for mobile */
    @apply mt-6 block xl:text-5xl font-extrabold text-3xl tracking-tight sm:text-3xl md:text-4xl sm:text-center lg:text-left 
  }

  .custom_subtitle {
    @apply mt-6 block text-3xl font-semibold tracking-wide
  }

  .custom_heading1 {
    @apply mt-6 block text-4xl font-extrabold tracking-wide
  }

  .custom_heading2 {
    @apply mt-6 block text-3xl font-extrabold tracking-tight
  }

  .custom_heading3 {
    @apply mt-6 block text-2xl font-semibold tracking-wide
  }

  .custom_heading4 {
    @apply mt-6 block text-xl font-bold tracking-tight
  }

  .custom_p {
    @apply mt-6 text-sm text-left
  }

  .custom_button {}

  .custom_link {@apply mt-6 text-xl cursor-pointer underline }

  .custom_strong {}

  .custom_em {}

  .custom_code {}

  .custom_ul {@apply mt-6 text-xl list-disc pl-8 mx-auto }
  .custom_ol {@apply mt-6 text-xl list-decimal pl-8 mx-auto }


  .custom_li {
    @apply mt-6 text-xl list-decimal pl-8 mx-auto
  }

  .custom_blockquote {
    @apply mt-6 text-xl
  }

  .custom_blogImage {}

  .custom_span {
    @apply mt-6 block text-xl font-normal tracking-tight
  }

  .custom_siteNotice {}

}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
.loader {
  border-top-color: #3498db;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
